@model HomeAdminVM

@{ Layout = "_LayoutAdmin"; }

<hr />
<div class="m-3">
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Sales Price
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.SalesPrice.ToString("c")</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Profitable
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Profitable.ToString("c")</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Count Advertisements
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.CountAdvertisements</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Count Reviews
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.CountReviews</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     @await Html.PartialAsync("./SearchOrder", Model.Search)
    <hr />
    @foreach (OrderVM order in Model.Orders)
    {
        <div class="row">
            <h5 class="text-primary ml-2">Date: @order.CreatedAT.ToString("d")</h5>
            <h5 class="text-success ml-2">Total Price: @order.TotalPrice.ToString("C")</h5>
            @if (order.DiscountPrice.HasValue)
            {
                <h5 class="text-danger ml-2">Discount Price: @order.DiscountPrice.Value.ToString("C")</h5>
            }

        </div>
        <hr />
        <div class="row">
            @foreach (var i in order.Advertisements)
            {

                <div class="col-lg-4 col-md-4 ">
                    <img src="@i.PhotosNames.First()" height="200" width="300" class="" alt="">
                    <div class="portfolio-info">
                        <span class="mb-1">Category: @i.Category</span>
                        <div class="">
                            <p class="font-weight-bold" style="font-size:17px">Advertisement: @i.Name</p>
                            <p style="font-size:16px" class="text-success">Price: @i.Price.ToString("c")</p>
                        </div>

                        <div class="justify-content-between">

                            <div class="d-flex justify-content-between">
                                <div>

                                </div>
                                <div class=" w-50 d-flex justify-content-around">
                                    <a href="@i.PhotosNames.First()" data-gallery="portfolioGallery" class="portfolio-lightbox" title="FullScreen">
                                        <i class="bi bi-arrows-fullscreen m-1 text-white" style="font-size:16px"></i>
                                    </a>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>



            }
        </div>
        <hr />
    }
</div>
<!-- Content Row -->

