@model IEnumerable<CustomerVM>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h2 class="m-5">Customers</h2>
<hr />
<table class="table m-auto  p-5" style="width:91%">
    <thead>
        <tr class="table-primary">
            <th><label asp-for="@Model.FirstOrDefault(c => c.ID == "").FirstName"></label></th>
            <th><label asp-for="@Model.FirstOrDefault(c => c.ID == "").LastName"></label></th>
            <th><label asp-for="@Model.FirstOrDefault(c => c.ID == "").Email"></label></th>
            <th><label asp-for="@Model.FirstOrDefault(c => c.ID == "").BirthDate"></label></th>
            <th><label asp-for="@Model.FirstOrDefault(c => c.ID == "").Phone"></label></th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || Model.ToList().Count == 0)
        {
            <tr>
                <td colspan="6"> There is no data here</td>
            </tr>
        }
        else
        {
            foreach (CustomerVM c in Model)
            {
                <tr>
                    <td>@c.FirstName</td>
                    <td>@c.LastName</td>
                    <td>@c.Email</td>
                    <td>@c.BirthDate.ToString("d")</td>
                    <td>@c.Phone</td>
                    <td>
                        <a asp-action="details" asp-route-custId="@c.ID" class="text-primary"><i class="fas fa-info"></i></a>
                    </td>
                    
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr class="table-info">
            <td colspan="6"></td>
        </tr>
    </tfoot>
</table>
