@page
@model RegisterModel
@{ ViewData["Title"] = "Register";
                Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/dashbordAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/dashbordAdmin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/dashbordAdmin/css/StyleSheet.css" rel="stylesheet">
</head>

<body class="bg-white">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-3">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-photo"></div>
                    <div class="col-lg-7">
                        <div class="p-3">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Create an Account!</h1>
                            </div>
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.FirstName" class="form-control form-control-user"
                                               placeholder="First Name">
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.LastName" class="form-control form-control-user"
                                               placeholder="Last Name">
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Email " class="form-control form-control-user"
                                           placeholder="Email Address">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.Password" class="form-control form-control-user"
                                               placeholder="Password">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-user"
                                               placeholder="Repeat Password">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.BirthDate" class="form-control form-control-user"
                                           placeholder="Birth Date">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.Country" class="form-control form-control-user"
                                               placeholder="Country">
                                        <span asp-validation-for="Input.Country" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.City" class="form-control form-control-user"
                                               placeholder="City">
                                        <span asp-validation-for="Input.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Phone" class="form-control form-control-user"
                                           placeholder="Phone">
                                    <span asp-validation-for="Input.Phone" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Username" class="form-control form-control-user"
                                           placeholder="Username">
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>

                                </div>
                               
                                <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/dashbordAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/dashbordAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/dashbordAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/dashbordAdmin/js/sb-admin-2.min.js"></script>

</body>

</html>
<!--<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />-->
            @* @{ *@
            @*     if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
            @*     { *@
            @*         <div> *@
            @*             <p> *@
            @*                 There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a> *@
            @*                 for details on setting up this ASP.NET application to support logging in via external services. *@
            @*             </p> *@
            @*         </div> *@
            @*     } *@
            @*     else *@
            @*     { *@
            @*         <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
            @*             <div> *@
            @*                 <p> *@
            @*                     @foreach (var provider in Model.ExternalLogins) *@
            @*                     { *@
            @*                         <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
            @*                     } *@
            @*                 </p> *@
            @*             </div> *@
            @*         </form> *@
            @*     } *@
            @* } *@
        <!--</section>
    </div>
</div>-->
    <partial name="_ValidationScriptsPartial" />
