@model IEnumerable<TaskVM>



@{
    ViewData["Title"] = "Get Tasks Prog";
    Layout = "_LayoutAdmin";
}

<h2 class="m-5">My Tasks</h2>
<hr />

<table class="table m-auto  p-5" style="width:91%">
    <thead>
        <tr class="table-primary">
            <th><label asp-for="@Model.FirstOrDefault(t => t.ID == 0).Title"></label></th>
            <th><label asp-for="@Model.FirstOrDefault(t => t.ID == 0).Duration"></label></th>
            <th><label asp-for="@Model.FirstOrDefault(t => t.ID == 0).DueDate"></label></th>
            <th><label asp-for="@Model.FirstOrDefault(t => t.ID == 0).Status"></label></th>
            <th><label asp-for="@Model.FirstOrDefault(t => t.ID == 0).Priority"></label></th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || Model.ToList().Count == 0)
        {
            <tr>
                <td colspan="7"> There is no data here</td>
            </tr>
        }
        else
        {
            foreach (TaskVM t in Model)
            {
    <tr>
        <td>@t.Title</td>
        <td>@t.Duration</td>
        <td>@t.DueDate</td>
        <td>@t.Status</td>
        <td>@t.Priority</td>
        <td>
            <a asp-action="Edit" asp-route-id="@t.ID" class="text-success"><i class="fas fa-edit"></i></a>
        </td>
        <td>
            <a asp-action="details" asp-route-id="@t.ID" class="text-primary"><i class="fas fa-info"></i></a>
        </td>

    </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr class="table-info">
            <td colspan="7"></td>
        </tr>
    </tfoot>
</table>

