@model MonthlyEmployeeSalariesReportVM

@{ ViewBag.Title = "title";
    Layout = Model.asPdf ? null : "_LayoutAdmin";
    }

<div class="container">
    @if (!Model.asPdf)
    {
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    @*<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>*@

    <form asp-controller="Reports" asp-action="GetMonthlyEmployeeSalariesReport" asp-route-asPdf="true" onsubmit="submitHandler(event)">
        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </button>
    </form>
</div>
    }
    <h1 style="font-weight: bold; color: black; padding: 10px; text-align: center">Monthly Employees Salaries Report</h1>
    <h3 style="font-weight:bold; color:black">Date :@Model.DateTim.ToString("d")</h3>
    <hr />
    <p style="font-weight:bold; color:forestgreen; font-size:25px">Employees :</p>
    <hr />

    @foreach (var employee in Model.Employees)
    {
     <p><span style="font-weight:bold; color:black">First Name :</span> <span style=" color:blue">@employee.FirstName</span></p>
     <p><span style="font-weight:bold; color:black">Last Name :</span> <span style=" color:blue">@employee.LastName</span></p> 
      <p><span style="font-weight:bold; color:black">Email :</span> <span style=" color:blue">@employee.Email</span></p> 
<p><span style="font-weight:bold; color:black">Should Salary :</span> <span style=" color:blue">@employee.ShouldSalary.ToString("c")</span></p>
<p><span style="font-weight:bold; color:black">Salary :</span> <span style=" color:blue">@employee.Salary.ToString("c")</span></p> 
<p><span style="font-weight:bold; color:black">Should Working Hours :</span> <span style=" color:blue">@employee.ShouldWorkingHours</span></p> 
<p><span style="font-weight:bold; color:black">Working Hours :</span> <span style=" color:blue">@employee.WorkingHours</span></p>
<p><span style="font-weight:bold; color:black">Hour Salary :</span> <span style=" color:blue">@employee.HourSalary.ToString("c")</span></p>
    <hr />
    <hr />
    }
     <h4><span style="color: black"> Total Salaries In One Month :</span><span style="font-weight: bold;color:forestgreen"> @Model.TotalSalaries.ToString("c")</span></h4>
    <h4><span style="color:black">Total Working Hours In One Month : </span><span style="font-weight: bold;color:forestgreen">@Model.TotalWorkingHours</span> </h4>
</div>
<script>
    const submitHandler = (event) => {
        event.preventDefault();
        console.dir(event);
        downloadFile(event.target.action)
    }
</script>

