@model AdvertisementVM
@{
Layout = "_Layout";
}

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        @foreach(var img in Model.PhotosNames) { 
                        <div class="swiper-slide">
                            <img src="@img" height="400" width="300" alt="">
                        </div>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info pb-md-4">
                    <h3>Details Advertisement</h3>
                    <ul>
                        <li><strong>Category</strong>: @Model.Category</li>
                        <li><strong>Name</strong>: @Model.Name</li>
                        <li><strong>Price</strong>: @Model.Price.ToString("c")</li>
                        <li><strong>Create Date </strong>: @Model.CreatedAT.ToString("d")</li>
                    </ul>
                </div>
                <div class="portfolio-description  mt-md-5">
                    <p>Contact me to get information <a class="text-info">Massage</a></p>


                    <a asp-controller="ShoppingCarts" asp-action="BayNow" asp-route-id="@Model.ID" class="btn btn-primary">BayNow</a>        
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->