@model SearchVM

@{
    ViewData["Title"] = "Search";
}

@*<h1>@ViewData["Title"]</h1>*@

<div class="container p-4">

    <form asp-action="Search" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">

            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label "></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FromDate"  class="control-label"></label>
                    <input asp-for="FromDate"  class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FromPrice" class="control-label"></label>
                    <input asp-for="FromPrice" class="form-control" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categorys,"ID","Name"))" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ToDate" class="control-label"></label>
                    <input asp-for="ToDate"  class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ToPrice" class="control-label"></label>
                    <input asp-for="ToPrice" class="form-control" />
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>

    @*@if (Model.Advertisements.ToList().Count > 0)
        {
            @await Html.PartialAsync("~/Views/Advertisements/Index.cshtml", Model.Advertisements)
        }*@
    <div class="text-primary"><h3>Result </h3></div>
    <hr />

    @if (Model.Advertisements.ToList().Count == 0)
    {
        <p> There is no data here</p> }
            else
     {
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            @foreach (var i in Model.Advertisements)
            {

            <div class="col-lg-4 col-md-6 portfolio-item @i.Category">

            <img src="@i.PhotosNames.First()" height="300" width="330"  alt="">

           <div class="portfolio-info">
               <div class="d-flex justify-content-between">
                   <span class="mb-1 text-white">@i.Category</span>
                   <span class="mb-1 text-white">@i.CreatedAT.ToString("d")</span>
               </div>
           <p class="font-weight-bold" style="font-size:20px">@i.Name</p>
           <div class="justify-content-between">

            <div class="d-flex justify-content-between">
                <div>
                    <p style="font-size:18px">@i.Price.ToString("c")</p>
                </div>

                <div class="d-flex justify-content-around align-items-center w-25 ">
                    <div class="mb-2">

                        <a href="@i.PhotosNames.First()" data-gallery="portfolioGallery" class="portfolio-lightbox" title="FullScreen"><i class="bi bi-arrows-fullscreen m-1" style="font-size:17px"></i></a>

                    </div>
                    <div class="d-flex align-items-center">
                        <a asp-controller="Advertisements" asp-action="Details" asp-route-id="@i.ID" class="" title="More Details"><i class="bx bx-link" style="font-size:22px"></i></a>

                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between pr-2">
                <a asp-controller="Advertisements" class="btn btn-primary" asp-action="Details">Buy Now</a>

                <a asp-controller="ShoppingCarts" asp-action="AddToCartFromPageSearch" asp-route-id="@i.ID"><i class="bi bi-cart-plus text-danger" title="Add To Cart" style="font-size:25px"></i></a>

            </div>



        </div>


    </div>
</div>      }

        </div>

    </div>
</section>}


    <hr />
</div>
